header {
    background-color: #E6A4B4;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.titulo-container {
    display: inline-block; 
    font-size: 150px;
    color: #891652;
}

header label {
    font-size: 50px;
}

nav {
    display: inline-block; /* Para que se alineen horizontalmente */
}

nav ul {
    list-style-type: none; /* Quitar los puntos de lista */
    margin: 0; /* Eliminar el margen predeterminado */
    padding: 0; /* Eliminar el relleno predeterminado */
}

nav li {
    display: inline-block; /* Mostrar los elementos de navegación en línea */
    margin-left: 100px; /* Agregar un espacio entre los botones */
}

body {
    background-color: #FFF8E3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letraA {
    width: 8%; /* Cambiado de 8% a auto para ajustar automáticamente al tamaño de la imagen */
    vertical-align: middle; /* Alineación vertical al centro con el texto */
}

.contTitulos{
    font-size: 30px;
    color: #E6A4B4;
}

p {
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

footer{
    background-color: blanchedalmond;
    width: 100%;
    height: 88px;
}

.container__input {
    width: 400px;
    height: 300px;
    border-radius: 16px;
    background-color: #F3D7CA;
    border: none;
    color: #E6A4B4;
    padding: 2rem;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}
